{{ define "home"}}
{{template "layout/top" }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="login-container">
      <div class="container">
          <div class="row">
              <div class="container justify-content-center">
                  <div class="card p-4">
                      <div class="card-body">

                        {{ range $f := .flashes }}
                          <div class="alert alert-success">{{ $f }}</div>
                          {{ end }}
                        <h3>Welcome to Release Tracker</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
  {{template "layout/bottom" }}
{{ end }}