{{ define "layout/formheader" }}
{{template "layout/top" }}
<div class="tab-content rounded-bottom">
    <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-943">
        <div class="row">
            <div class="offset-md-2 col-sm-7">
                <div class="card callout callout-info mb-3">
                    <div class="card-body">
                        
{{end}}
{{ define "layout/formfooter" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{template "layout/bottom" }}
{{end}}