{{ define "layout/headerscript" }}
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Release trackers</title>
  <link rel="stylesheet" href="/assets/css/coreui.min.css" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://www.landmarkgroup.com/int/themes/lmg/favicon.ico"
    sizes="180x180">
  <link rel="icon" href="https://www.landmarkgroup.com/int/themes/lmg/favicon.ico" sizes="32x32"
    type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
  <meta name="theme-color" content="#7952b3">
  <!-- Custom styles for this template -->
  <link href="/assets/custom.css" rel="stylesheet">
</head>
{{ end }}