{{ define "layout/header" }}
<header class="header header-sticky mb-4">
  <div class="container-fluid">
    <ul class="header-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="#">
          <span class="icon icon-lg">
          </span></a></li>
    </ul>
    <ul class="header-nav ms-3">
      <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <div class="avatar avatar-md"><div><i class="fa fa-user-circle fa-2x"></i></div>
        </a>
        <div class="dropdown-menu dropdown-menu-end pt-0">
          <div class="dropdown-header bg-light py-2">
            <div class="fw-semibold">Account</div>
          </div>
            <a class="dropdown-item" href="/logout">
              <span class="fa fa-sign-out fa-fw"></span>Sign out
            </a>
        </div>
      </li>
    </ul>
  </div>
  
</header>

{{ end }}