{{ define "layout/top" }}
<!doctype html>
<html lang="en">
{{ template "layout/headerscript" }} 

<body>
  {{ template "layout/sidebar" }}
  
  

  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      {{ template "layout/header" }}
      
      <div class="body flex-grow-1 px-3">
        <div class="container-lg">
          <div class="car"></div>
{{ end }}
{{ define "layout/bottom" }}
        </div>
      </div>
  </div>
  {{ template "layout/scripts" }}
</body>

</html>
{{end}}