{{ define "layout/top" }}
<!doctype html>
<html lang="en">
{{ template "layout/headerscript" }} 

<body>

  

  <div class="container-fluid">
    <div class="row">
      {{ template "layout/sidebar" }}
{{ end }}
{{ define "layout/bottom" }}
    </div>
  </div>
  {{ template "layout/scripts" }}
</body>

</html>
{{end}}