{{ define "layout/sidebar" }}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link"  href="/release/index">
            <span data-feather="clipboard"></span>
            Releases
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/projects">
            <span data-feather="clipboard"></span>
            Projects
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/reviewers">
            <span data-feather="clipboard"></span>
            Reviewers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/dls">
            <span data-feather="clipboard"></span>
            DLS
          </a>
        </li><li class="nav-item">
          <a class="nav-link"  href="/release/tickets">
            <span data-feather="clipboard"></span>
            Release Tickets
          </a>
        </li>
      </ul>
    </div>
  </nav>

{{end}}