{{ define "reviewers/edit" }}
    {{template "layout/formheader"}}
        <h5 class="card-title">Update Reviewer</h5>
        <hr />
        <form action="/reviewers/update/{{.values.ID}}" method='POST'>
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <div class="form-group col-md-auto">
                <label for="name" class="col-sm-12 col-form-label">Project Name:</label>
                <div class="col-sm-12">
                    <input type='text' name='name' class="form-control" id="name" value="{{.values.Name}}" required>
                    {{with .errors.Name }}
                    <small class="form-text text-danger">{{.}}</small>
                    {{ end }}
                </div>
            </div></br>
            <div class="form-group col-md-auto">
                <label for="email" class="col-sm-12 col-form-label">Email:</label>
                <div class="col-sm-12">
                    <input type='email' name='email' class="form-control" id="email"
                        value="{{.values.Email}}" required>
                    {{with .errors.Email }}
                    <small class="form-text text-danger">{{.}}</small>
                    {{ end }}
                </div>
            </div></br>
            <div class="form-group col-md-auto">
                <label for="user_name" class="col-sm-12 col-form-label">User name:</label>
                <div class="col-sm-12">
                    <input type='text' name='user_name' class="form-control" id="user_name"
                        value="{{.values.UserName}}" required>
                    {{with .errors.UserName }}
                    <small class="form-text text-danger">{{.}}</small>
                    {{ end }}
                </div>
            </div></br>
            <br><br>
            <input type="hidden" name="id" value="{{.values.ID}}" />
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-outline-success" type="submit">Save Reviewer
                    </button>
                    <button type='button' class="btn btn-outline-secondary"
                        onclick="window.location.href='/reviewers'"> Cancel </button>
                </div>
            </div>
        </form>
    {{template "layout/formfooter"}}
{{ end }}