{{ define "release/create" }}
{{template "layout/top" }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create Release</h1>
    </div>

<!--    <h2>Section title</h2>-->
    <div class="container" >
    <div class="table-responsive row justify-content-md-center">
        <form action='/release/store' method='POST' >
            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
            <div class="form-group col-md-auto">
                <label for="name" class="col-sm-3 col-form-label">Release Name:</label>
                <div class="col-sm-6">
                    <input type='text' name='name' class="form-control" id="name" value="{{.Name}}" required>
                </div>
            </div></br>
            <div class="form-group col-md-auto">
                <label for="type" class="col-sm-3 col-form-label">Release Type:</label>
                <div class="col-sm-6">
                    <select name='type' class="form-control" id="type" required>
                        <option value="hotfix"> Hotfix</option>
                        <option value="feature"> Feature</option>
                        <option value="release"> Release</option>
                    </select>
                </div>
            </div></br>
            <div class="form-group col-md-auto">
                <label for="projects" class="col-sm-3 control-label">Project:</label>
                <div class="col-sm-6">
                    <select name='projects' class="form-control" id="projects" multiple="multiple" required>
                        {{range .projects}}
                            <option value="{{ .ID}}"> {{ .Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div></br>
            <div class="form-group col-md-auto reviewers" >
                <label for="reviewers" class="col-sm-3 col-form-label">Reviewers:</label>
                <div class="col-sm-6">
                    <textarea id="reviewers" name="reviewers" rows="3" cols="78" readonly></textarea>
{{/*                    <input type='textarea' name='reviewers' class="form-control" id="reviewers" required readonly>*/}}
                </div>
            </div></br>
            <div class="form-group col-md-auto">
                <label for="target_date" class="col-sm-3 control-label">Release Date:</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" name="target_date" id="target_date" value="{{ .TargetDate}}" required></div>
                </div>
            </br>
            <div class="form-group col-md-auto">
                <label for="owner" class="col-sm-3 control-label">Owner:</label>
                <div class="col-sm-6">
                    <input type='email' name='owner' class="form-control" id="owner" pattern=".+@landmarkgroup.in" required>
                    <small>Please enter landmarkgroup email</small>
                </div>
            </div>
                <br><br>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <button
                            class="btn btn-outline-success"
                            type="submit">Save changes
                    </button>
                    <button type='button'  class="btn btn-outline-secondary" onclick="window.location.href='/release/index'"> Cancel </button>
                </div>
            </div>
        </form>
    </div>
    </div>
</main>
{{template "layout/bottom" }}
{{ end }}