{{ define "release/create" }}
{{template "layout/top" }}
<div class="tab-content rounded-bottom">
    <div class="tab-pane p-1 active preview" role="tabpanel" id="preview-943">
        <div class="row">
            <div class="offset-md-1 col-sm-10">
                <div class="card callout callout-info mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Create Release</h5>
                        <hr />
                        <form action='/release/store' method='POST' >
                            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                            <div class="form-group col-md-auto">
                                <label for="name" class="col-sm-8 col-form-label">Release Name:</label>
                                <div class="col-sm-8">
                                    <input type='text' name='name' class="form-control" id="name" value="{{.Name}}" required>
                                </div>
                            </div></br>
                            <div class="form-group col-md-auto">
                                <label for="type" class="col-sm-8 col-form-label">Release Type:</label>
                                <div class="col-sm-8">
                                    <select name='type' class="form-control" id="type" required>
                                        <option value="hotfix"> Hotfix</option>
                                        <option value="feature"> Feature</option>
                                        <option value="release"> Release</option>
                                    </select>
                                </div>
                            </div></br>
                            <div class="form-group col-md-auto">
                                <label for="projects" class="col-sm-8 control-label">Project:</label>
                                <div class="col-sm-8">
                                    <select name='projects' class="form-control" id="projects" multiple="multiple" required>
                                        {{range .projects}}
                                            <option value="{{ .ID}}"> {{ .Name}}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div></br>
                            <div class="form-group col-md-auto reviewers_list" >
                                <label for="reviewers" class="col-sm-8 col-form-label">Reviewers:</label>
                                <div class="col-sm-8">
                                    <textarea id="reviewers_values" name="reviewers" rows="2" cols="60" readonly></textarea>
                                </div>
                            </div></br>
                            <div class="form-group col-md-auto">
                                <label for="target_date" class="col-sm-8 control-label">Release Date:</label>
                                <div class="col-sm-8">
                                    <input type="date" class="form-control" name="target_date" id="target_date" value="{{ .TargetDate}}" required></div>
                                </div>
                            </br>
                            <div class="form-group col-md-auto">
                                <label for="owner" class="col-sm-8 control-label">Owner:</label>
                                <div class="col-sm-8">
                                    <input type='email' name='owner' class="form-control" id="owner" pattern=".+@landmarkgroup.in" required>
                                    <small>Please enter landmarkgroup email</small>
                                </div>
                            </div>
                                <br><br>
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button
                                            class="btn btn-outline-success"
                                            type="submit">Save changes
                                    </button>
                                    <button type='button'  class="btn btn-outline-secondary" onclick="window.location.href='/release/index'"> Cancel </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{{template "layout/bottom" }}
{{ end }}