{{ define "release/home" }}
{{template "layout/top" }}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Releases</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <a href="/release/create" class="btn btn-sm btn-outline-info">
                    Create Release
                </a>
                <a href="{{.url}}" class="btn btn-sm btn-outline-info">
                    Authorize Bitbucket
                </a>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped table-sm" id="releases_table"
               data-get_action="/release/list"
               data-model="releases">
            <thead>
            <tr>
                <th>Id</th>
                <th>Release Name</th>
                <th>Release Type</th>
                <th>Release Target Date</th>
                <th>Owner</th>
                <th>Actions</th>
            </tr>
            </thead>

        </table>
    </div>
</main>
{{template "layout/bottom" }}
{{ end }}