{{ define "release/list" }}
    {{template "layout/top" }}
    <div class="tab-content rounded-bottom">
        <div class="tab-pane  active preview" role="tabpanel" id="preview-943">
            <div class="row">
                <div class="col-sm-11">
                    <div class="card callout callout-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Release Notes</h5>
                            <hr />
                                <div class="table-responsive row justify-content-md-center">
{{/*                                    <form>*/}}
{{/*                                    <div class="form-group col-md-auto">*/}}
{{/*                                        <label for="releases" class="col-sm-3 control-label">Releases:</label>*/}}
{{/*                                        <div class="col-sm-6">*/}}
{{/*                                            <select name='releases_name' class="form-control" id="releases_name">*/}}
{{/*                                                <option value="select">Select</option>*/}}
{{/*                                                {{range .releases}}*/}}
{{/*                                                    <option value="{{ .ID}}"> {{ .Name}}</option>*/}}
{{/*                                                {{end}}*/}}
{{/*                                            </select>*/}}
{{/*                                        </div>*/}}
{{/*                                    </div>*/}}
{{/*                                    </form>*/}}
{{/*                                    <p></p><p></p>*/}}

                                    <div class="card" style="width: 100rem;">
                                        <div class="card-body">
                                            <h5 class="card-title">List Of Tickets created for Release</h5>
                                            <p class="card-text">Summary and Type</p>
                                        </div>
                                        <ul class="list-group list-group-flush release_tick scrollCard" id="release_tick">
                                            {{range .jiraTickets}}
                                                {{$color := "black"}}
                                                {{if eq .Type "Bug"}}
                                                    {{$color = "#b52107"}}
                                                {{else if eq .Type "Story"}}
                                                    {{$color = "#07a621"}}
                                                {{else if eq .Type "Task"}}
                                                    {{$color = "#18cded"}}
                                                {{end}}
                                                <li class="list-group-item"><span style='color:{{$color}}'>{{.Type}}</span> :  <a href="{{$.jiraUrl}}/{{.Key}}" target="_blank">{{.Key}}</a> : {{.Summary}} : <strong>{{.Status}}</strong></li>
                                            {{end}}
                                        </ul>
                                        <div class="card-body" id="release_notes_button">
                                                <input type="hidden" id="release_id" value="{{.releaseId}}">
                                                <button class="btn btn-primary send_release_notes">Send Release notes</button>
                                        </div>
                                    </div>
{{/*                                    <div class="table-responsive">*/}}
{{/*                                        <table class="table table-bordered datatable" id="releases_tickets_table">*/}}
{{/*                                            <thead>*/}}
{{/*                                            <tr>*/}}
{{/*                                                <th>Issue Id</th>*/}}
{{/*                                                <th>Type</th>*/}}
{{/*                                                <th>Issue Summary</th>*/}}
{{/*                                                <th>Project</th>*/}}
{{/*                                                <th>Status</th>*/}}
{{/*                    */}}{{/*                            <th>Actions</th>*/}}
{{/*                                            </tr>*/}}
{{/*                                            </thead>*/}}
{{/*                                            <tbody class="release_tickets"></tbody>*/}}
{{/*                                        </table>*/}}
{{/*                                </div>*/}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    {{template "layout/bottom" }}
{{ end }}