{{ define "release/view" }}
    {{template "layout/top" }}
    <div class="tab-content rounded-bottom">
        <div class="tab-pane p-2 active preview" role="tabpanel" id="preview-943">
            <div class="row">
                <div class="offset-md-2 col-sm-7">
                    <div class="card callout callout-info mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Create Release</h5>
                            <hr />
                            <div class="table-responsive row">
                                <form>
                                    <div class="form-group row">
                                        <label for="name" class="col-sm-12 col-form-label">Release Name:</label>
                                        <div class="col-sm-12">
                                            <input type='text' name='name' class="form-control" id="name" value="{{.releases.Name}}" readonly>
                                        </div>
                                    </div></br>
                                    <div class="form-group row">
                                        <label for="type" class="col-sm-12 col-form-label">Release Type:</label>
                                        <div class="col-sm-12">
                                            <select name='type' class="form-control" id="type" readonly="">
                                                <option value="{{.releases.Type}}" selected> {{.releases.Type}}</option>
                                            </select>
                                        </div>
                                    </div></br>
                                    <div class="form-group row">
                                        <label for="projects" class="col-sm-12 control-label">Project:</label>
                                        <div class="col-sm-12">
                                            <select name='projects' class="form-control" id="projects" multiple="multiple" readonly="">
                                                {{range $project := .projects}}
                                                    <option value="{{ $project.ID}}" selected> {{$project.Name}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div></br>
                                    <div class="form-group row reviewers_view" >
                                        <label for="reviewers" class="col-sm-12 col-form-label">Reviewers:</label>
                                        <div class="col-sm-12">
                                            <textarea id="reviewers_view" name="reviewers_view" rows="3" cols="60" readonly>{{.reviewers}}</textarea>
                                        </div>
                                    </div></br>
                                    <div class="form-group row">
                                        <label for="target_date" class="col-sm-12 control-label">Release Date:</label>
                                        <div class="col-sm-12">
                                            <input type="date" class="form-control" name="target_date" id="target_date" value="{{ .releases.TargetDate.Format "2006-01-02"}}"></div>
                                    </div>
                                    </br>
                                    <div class="form-group row">
                                        <label for="owner" class="col-sm-12 control-label">Owner:</label>
                                        <div class="col-sm-12">
                                            <input type='email' name='owner' class="form-control" id="owner" value="{{.releases.Owner}}" readonly>
                                        </div>
                                    </div>
                                    <br><br>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-sm-offset-4">
                                            <button type='button'  class="btn btn-outline-secondary" onclick="window.location.href='/release/index'"> Cancel </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    {{template "layout/bottom" }}
{{ end }}