{{ define "dls/create" }}
	{{template "layout/formheader"}}
		<h5 class="card-title">Create DLS</h5>
		<hr/>
		<form action='/dls/store' method='POST'>
			<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
			<div class="form-group col-md-auto">
				<label for="dl_type" class="col-sm-12 control-label">Project Name:</label>
				<div class="col-sm-12">
					<select name='project_id' class="form-control" id="project_id" required>
						<option value="">Select Project</option>
						{{ range .Projects }}
						<option value="{{ .ID }}"> {{ .Name }}</option>
						{{end}}
					</select>
				</div>
			</div></br>
			<div class="form-group col-md-auto">
				<label for="name" class="col-sm-12 col-form-label">Email:</label>
				<div class="col-sm-12">
					<input type="email" name='email' class="form-control" id="email" value="{{.values.Email}}"
						required>
					{{with .errors.Email }}
					<small class="form-text text-danger">{{.}}</small>
					{{ end }}
				</div>
			</div></br>
			<div class="form-group col-md-auto">
				<label for="dl_type" class="col-sm-12 control-label">DLS Type:</label>
				<div class="col-sm-12">
					<select name='dl_type' class="form-control" id="dl_type" required>
						<option value="">Select DL type</option>
						{{ range $dlkey, $dlvalue := .DlTypes }}
						<option value="{{ $dlkey }}"> {{ $dlvalue }}</option>
						{{end}}
					</select>
				</div>
			</div></br>

			<br><br>
			<div class="form-group">
				<div class="col-sm-12">
					<button class="btn btn-outline-success" type="submit">Save dls
					</button>
					<button type='button' class="btn btn-outline-secondary" onclick="window.location.href='/dls'">
						Cancel </button>
				</div>
			</div>
		</form>
	{{template "layout/formfooter"}}
{{ end }}